- if (item.layout === 'full')
  header.page-header(class=item.layout style=`background-image: url(${item.featured})`)
    - if (item.layout != 'page')
      time(datetime=item.date.toDate().toISOString())
    != partial('post/title')  
- else
  header.page-header(class=item.layout)
    - if (item.featured)
      img(src=item.featured alt=item.slug + ' banner')
    - if (item.layout != 'page')
      time(datetime=item.date.toDate().toISOString())
    != partial('post/title')  
article.page-content.centering(class=item.layout)
  article(class=item.layout)
    .post-content
      .entry
        - if (item.excerpt && index)
          != item.excerpt
        - else
          != item.content
        - if(page.title)
          #disqus_thread
            script(type='text/javascript').
              /* * * CONFIGURATION VARIABLES * * */
              var disqus_shortname = 'vitormargis';
              /* * * DON'T EDIT BELOW THIS LINE * * */
              (function() {
              var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
              dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
              (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
              })();
            noscript
              | Please enable JavaScript to view the 
              a(href='https://disqus.com/?ref_noscript', rel='nofollow') comments powered by Disqus.

            
          
