- var title = ''
- if (page.category) 
  title = page.category
- if (page.tag) 
  title = page.tag
- if (page.archive)
  - if (page.year) title = page.year + (page.month ? '/' + page.month : '')
  - else title = __('archive_a')

h2.archive-title
  = title
  = pagination

- if (pagination == 2)
  - site.posts.each(function(item){ 
    - partial('article', {item: item, index: true})
  - })

- else  
  .archive
    - page.posts.each(function(item){
        article(class=item.layout)
          .post-content
            header
              .icon
              time(datetime=item.date.toDate().toISOString())
                a(href=config.root+item.path)
                  != item.date.format(config.date_format)

              if (item.link)
                if (item.title)
                  h1.title.link
                    a(href=item.link target="_blank")
                      = item.title
                else if (item.link)
                  h1.title.link
                    a(href=item.link target="_blank")
                      = item.link
              else
                h1.title.link
                  a(href=config.root+item.path target="_blank")
                    = item.title
                    
    - })
  != - partial('pagination')
