header.page-header(class=item.layout)
  - if (item.featured)
    img(src=item.featured)
  - if (item.layout != 'page')
    time(datetime=item.date.toDate().toISOString())
  != partial('post/title')  
article.page-content.centering(class=item.layout)
  article(class=item.layout)
    .post-content
      .entry
        - if (item.excerpt && index)
          != item.excerpt
        - else
          != item.content
          
